<div class="container vh-100 d-flex align-items-center justify-content-center">

  <div class="card shadow p-4" style="width: 400px;">

    <h2 class="text-center mb-4">
      {{ 'AUTH.TITLE' | translate }}
    </h2>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="mb-3">
        <label>{{ 'AUTH.EMAIL' | translate }}</label>

        <input 
          type="email" class="form-control"
          formControlName="email"
          [class.is-invalid]="form.controls.email.invalid && form.controls.email.touched">

          @if (
          form.controls.email.touched
          ) {
          
            @if (
            form.controls.email.errors?.['required']
            ) {
            
            <div class="invalid-feedback">
              {{ 'VALIDATIONS.REQUIRED_EMAIL' | translate }}            
            </div>
            
            } @else if (
            form.controls.email.errors?.['email']
            ) {
            
            <div class="invalid-feedback">            
              {{ 'VALIDATIONS.INVALID_EMAIL' | translate }}
            </div>            
            }
          }
      </div>

      <div class="mb-3">
        <label>{{ 'AUTH.PASSWORD' | translate }}</label>

        <input 
          type="password"
          class="form-control"
          formControlName="password"
          [class.is-invalid]="form.controls.password.invalid && form.controls.password.touched">

          @if (
          form.controls.password.errors?.['required']
          && form.controls.password.touched
          ) {
          
            <div class="invalid-feedback">            
              {{ 'VALIDATIONS.REQUIRED_PASSWORD' | translate }}            
            </div>
          }
      </div>

      <button type="submit" class="btn btn-primary-custom w-100" [disabled]="loading">
        {{ 'AUTH.LOGIN_BUTTON' | translate }}
      </button>

      <p class="text-center text-secondary-custom">
        {{ 'AUTH.FIRST_ACCESS' | translate }}
      
        <a class="link-default" routerLink="/register">
          {{ 'AUTH.CREATE_ACCOUNT' | translate }}
        </a>
      </p>

    </form>

  </div>

</div>